In [25]:
import warnings
warnings.simplefilter('ignore', FutureWarning)
import os

import matplotlib
matplotlib.rcParams['axes.grid'] = True # show gridlines by default
%matplotlib inline

from pandas import *

In [28]:
LOCATION='4_Further_techniques\comtrade.csv'
LOCATION
os.getcwd()

'C:\\Users\\hannamj\\GitRepos\\FLcda'

In [29]:
beer = read_csv(LOCATION, dtype={'Commodity Code':str, 'Reporter Code':str})
beer.head(3)

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Qty,Alt Qty Unit Code,Alt Qty Unit,Alt Qty,Netweight (kg),Gross weight (kg),Trade Value (US$),CIF Trade Value (US$),FOB Trade Value (US$),Flag
0,H5,2017,2017,2017,4,0,2,Export,842,USA,...,NaN,NaN,691952919,NaN,691952919,NaN,759810443,NaN,NaN,0
1,H5,2017,2017,2017,4,0,2,Export,842,USA,...,NaN,NaN,79842,NaN,79842,NaN,70739,NaN,NaN,0
2,H5,2017,2017,2017,4,0,2,Export,842,USA,...,NaN,NaN,44410,NaN,44410,NaN,51427,NaN,NaN,0

In [30]:
COLUMNS = ['Year', 'Period','Trade Flow','Reporter', 'Partner', 'Commodity','Commodity Code','Trade Value (US$)']
beer = beer[COLUMNS]

In [31]:
beer_world = beer[beer['Partner'] == 'World']
beer_countries = beer[beer['Partner'] != 'World']

In [32]:
beer_countries.to_csv('countrybeer.csv', index=False)

In [33]:
="ISO-load_test = read_csv('countrybeer.csv', dtype={'Commodity Code':str, 'Reporter Code':str}, encoding8859-1")
load_test.head(2)

SyntaxError: invalid syntax (<ipython-input-33-863c21bfd81b>, line 1)